/* CSS Varibles */
:root {
        --c-primary-500: hsl(332, 51%, 32%);
        --c-primary-600: hsl(14, 45%, 36%);

        --c-neutral-100: hsl(0, 0%, 100%);
        --c-neutral-200: hsl(330, 100%, 98%);
        --c-neutral-300: hsl(30, 18%, 87%);
        --c-neutral-400: hsl(30, 54%, 90%);
        --c-neutral-600: hsl(30, 10%, 34%);
        --c-neutral-700: hsl(24, 5%, 18%);

        --fw-normal: 400;
        --fw-bold: 600;
        --fw-very-bold: 700;

        --fs-regular: 16px;
}

/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

/* CSS Reset Start */
body, main, footer, section, h1, h2, h3, div, img {
        margin: 0;
        padding: 0;
        border: 0;
}

/* Style Rules for the Body */
body {
        background-color: var(--c-neutral-400);
}

/* Style Rules for Main Section Container */
#container {
        background-color: var(--c-neutral-100);
        width: 50%;
        margin: 7rem auto;
        border-radius: 25px;
        padding: 2.5rem;
}

img {
        width: 100%;
        border-radius: 10px;
}
