/* CSS Varibles */
:root {
        --c-accent-200: hsl(330, 100%, 98%);
        --c-accent-500: hsl(332, 51%, 32%);
        --c-accent-600: hsl(14, 45%, 36%);

        --c-neutral-100: hsl(0, 0%, 100%);
        --c-neutral-300: hsl(30, 18%, 87%);
        --c-neutral-400: hsl(30, 18%, 87%);
        --c-neutral-600: hsl(30, 10%, 34%);
        --c-neutral-700: hsl(24, 5%, 18%);

        --fw-normal: 400;
        --fw-bold: 600;
        --fw-very-bold: 700;
}

/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

/* CSS Reset */

* {
        box-sizing: border-box;
}

body, 
main, 
footer, 
section, 
h1, 
h2, 
h3, 
div, 
img, 
ul, 
ol {

        margin: 0;
        padding: 0;
        border: 0;
}

/* Style Rules for the Body */
body {
        background-color: var(--c-neutral-400);
        font-family: "Outfit", Arial, Helvetica, sans-serif;
        font-weight: var(--fw-normal);
}

/* Style Rules for all images */
img {
        max-width: 100%;
        display: block;
}

/* Style rules for headers */
h1, 
h2 {
        font-family: "Young Serif", 'Times New Roman', Times, serif;
        font-weight: var(--fw-very-bold);
}

h1 {
        color: var(--c-neutral-700);
        font-size: 2.75em;
}

h2 {
        color: var(--c-accent-600);
        margin: 0.5em;
        font-size: 2em;
}

h3 {
        color: var(--c-accent-500);
        font-weight: var(--fw-very-bold);
        font-size: 1.25em;

}

/* Style Rule for ordered and unordered list */
ul, 
ol {
        margin: 1em 2.5em;
}

ul li, 
ol li {
        padding-left: 1em;
}

ul li:not(:last-child),
ol li:not(:last-child) {
        margin-bottom: 1em;
}

ul li::marker, 
ol li::marker {
        font-size: 0.75em;
        color: var(--c-accent-600);
        font-weight: var(--fw-very-bold);
}

ol li::marker {
        font-size: 1em;
}

/* Style Rules for Main Section Container */
main {
        background-color: var(--c-neutral-100);
        width: 100%;
        font-weight: var(--fw-normal);
        color: var(--c-neutral-600);
}

#container {
        margin: 2em;
}

/* Media query for tablet screens */
@media screen and (min-width: 375px) {
        
        main {
                width: 90%;   
                margin: 7rem auto;
                padding: 4%;
                border-radius: 25px;
        }

        img {
                border-radius: 10px;
        }

        #container {
                margin: 2em 0 1em 0;
        }
}

/* Media query for laptop/desktop screens */
@media screen and (min-width: 820px) {
        main {
                width: 60%;   
         }
}

#prep_time  {
        background-color: var(--c-accent-200);
        padding: 1.5em;
        margin-block: 1.75em;
        border-radius: 10px;
}

#prep_time ul li::marker {
        color: var(--c-accent-500);
}

.bold {
        font-weight: var(--fw-very-bold);

}

#ingredients, 
#instructions {
        border-bottom: 1px solid var(--c-neutral-400);
}